<div id="<%= dom_id link %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Board:</strong>
    <%= link.board_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Url:</strong>
    <%= link.url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= link.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">X coordinate:</strong>
    <%= link.x_coordinate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Y coordinate:</strong>
    <%= link.y_coordinate %>
  </div>
</div>
